.experience {
  padding-block: 5rem;
}
.experience_content {
  display: flex;
  justify-content: space-between;
}
.container_experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(87, 87, 245);
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(87, 87, 245);
  width: 30%;
  text-align: center;
  padding-block: 1rem;
  cursor: pointer;
}
.container_experience > article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-block: .9rem;
}
.container_experience>h4{
  font-size: .9rem;
  color: black ;
  font-weight: bolder;
}
.container_experience>h6{
  font-size: 1.7rem;
}

.container_experience:hover {
  border-style: solid;
  border-color: rgb(87, 87, 245);
  background-color: transparent;
  
}
.container_experience:hover>h4{
  color: rgb(87, 87, 245);
}
/* .experience_details {
  display: flex;
  align-items: flex-start;
  
} */
